<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/stories" class="brand-logo center">StoryBook</a>
      <a href="#" data-activates="main-menu" class="button-collapse show-on-small">
        <i class="fa fa-bars"></i>
      </a>
      {{!-- right nav --}}
      <ul class="right show-on-large">
        {{#if user}}
        <li><a href="/dashboard">Welcome {{ user.firstName }}</a></li>
        <li><a href="/auth/logout"> Logout</a></li>
        {{else}}
        <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>