<h1>Welcome</h1>
<p>Welcome to StoryBook 1.0.0</p>
<p>Post stories from the best and worst of your life to be shared with the world or keep those stories private as you
  would with a personal diary.</p>

<a href="/auth/google" class="btn red darken-1 left"><i class="fa fa-google"></i> Login With Google</a>